.main {
  background-color: #fcfcfc;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}
.login {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
